<footer class="pt-5 pb-4">
  <div class="footer-copyright">
    <div class="container">
      <div
        class="copyright-inner rounded p-3 d-md-flex align-items-center justify-content-between"
      >
        <div class="copyright-text">
          <p class="m-0 white">©2024 Badung Tourism Navigator By Genesis Smanichi. All rights reserved.</p>
        </div>
        <div class="social-links">
          <ul>
          
            <li>
              <a href="https://www.instagram.com/genesis.smanichi/"
                ><i class="fab fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
